# Domain
type guamna-sh, domain;
type guamna-sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(guamna-sh)

# Permissions
# Exec
allow guamna-sh vendor_toolbox_exec:file rx_file_perms;

# Mounting
allow guamna-sh vendor_camera_data_file:file { mounton getattr };
allow guamna-sh proc_filesystems:file r_file_perms;
allow guamna-sh guamna-sh:capability sys_admin;
